.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

:root {
  --black: #000000;
  --aged-moustache-grey: #7d7d7d;
  --cold-morning: #e5e5e5;
  --bleached-silk: #f3f3f3;
  --white: #ffffff;
}

body,
h1,
h2,
h3 {
  margin: 0;
}

body * {
  box-sizing: border-box;
}

body {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 28px;
  background-color: var(--bleached-silk);
}

h1 {
  font-size: 56px;
  line-height: 64px;
}

h2 {
  font-size: 24px;
  line-height: 29px;
}

h3 {
  font-size: 18px;
  line-height: 22px;
}

button {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.subhead-1 {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
}

.subhead-2 {
  font-size: 13px;
  line-height: 17px;
}

.link-1 {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2.5px;
}

.link-2 {
  font-size: 9px;
  line-height: 11px;
  letter-spacing: 2px;
}

.button {
  border: none;
  outline: none;
  color: var(--aged-moustache-grey);
  background-color: transparent;
  text-transform: uppercase;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.button:hover {
  color: var(--black);
}

.button-lg {
  font-size: 12px;
  letter-spacing: 2.57px;
}

.button-sm {
  font-size: 9px;
  letter-spacing: 1.93px;
  text-decoration: underline;
}

.button-media {
  height: 25px;
  width: 25px;
  color: var(--black);
}

.button-media:hover {
  opacity: 50%;
}

.button-media::before {
  content: "";
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-position: center;
}

.disabled {
  opacity: 15%;
}

.button-media-back::before {
  background-image: url("./assets/shared/icon-back-button.svg");
}

.button-media-next::before {
  background-image: url("./assets/shared/icon-next-button.svg");
}

.button-view-image {
  padding: 14px 16px 14px 42px;
  border: none;
  background-color: var(--black);
  opacity: 75.46%;

  font-size: 10px;
  line-height: 2.14px;
  color: var(--white);

  text-transform: uppercase;
}

.button-view-image:hover {
  background-color: var(--white);
  opacity: 25.22%;
}

.button-view-image::before {
  content: "";
  width: 12px;
  height: 12px;
  top: 14px;
  left: 16px;
  background-image: url("./assets/shared/icon-view-image.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  background-color: var(--white);
  width: 1440px;
  margin: 0 auto;
}

header {
  display: flex;
  padding: 40px;
  justify-content: space-between;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--cold-morning);
  margin: 0 40px;
}

main {
  padding: 40px;
  display: flex;
}
