.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

:root {
  --black: #000000;
  --aged-moustache-grey: #7d7d7d;
  --cold-morning: #e5e5e5;
  --bleached-silk: #f3f3f3;
  --white: #ffffff;
}

body,
h1,
h2,
h3 {
  margin: 0;
}

button {
  padding: 0;
}

body * {
  box-sizing: border-box;
}

body {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 28px;
  background-color: var(--bleached-silk);
}

.dp {
  font-size: 200px;
  line-height: 150px;
  color: var(--bleached-silk);
}

h1 {
  font-size: 56px;
  line-height: 64px;
}

h2 {
  font-size: 24px;
  line-height: 29px;
}

h3 {
  font-size: 18px;
  line-height: 22px;
}

button {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.subhead-1 {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
}

.subhead-2 {
  font-size: 13px;
  line-height: 17px;
}

.link-1 {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2.5px;
}

.link-2 {
  font-size: 9px;
  line-height: 11px;
  letter-spacing: 2px;
}

.button {
  border: none;
  outline: none;
  color: var(--aged-moustache-grey);
  background-color: transparent;
  text-transform: uppercase;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.button:hover {
  color: var(--black);
}

.button-lg {
  font-size: 12px;
  letter-spacing: 2.57px;
}

.button-sm {
  font-size: 9px;
  letter-spacing: 1.93px;
  text-decoration: underline;
}

.button-media {
  height: 25px;
  width: 25px;
  color: var(--black);
  margin-left: 40px;
}

.button-media:hover:not([disabled]) {
  opacity: 50%;
}

.button-media[disabled] {
  cursor: auto;
}

.button-media::before {
  content: "";
  display: block;
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-position: center;
}

.disabled {
  opacity: 15%;
}

.button-media-back::before {
  background-image: url("./assets/shared/icon-back-button.svg");
}

.button-media-next::before {
  background-image: url("./assets/shared/icon-next-button.svg");
}

.button-view-image {
  position: absolute;
  padding: 14px 16px 14px 42px;
  border: none;
  background-color: rgba(0, 0, 0, 0.7546);
  font-size: 10px;
  letter-spacing: 2.14px;
  color: var(--white);
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.button-view-image:hover {
  background-color: rgba(151, 151, 151, 0.667);
}

.button-view-image::before {
  content: "";
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  top: 14px;
  left: 16px;
  background-image: url("./assets/shared/icon-view-image.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.button-view-image-pos {
  left: 16px;
  bottom: 16px;
}

.container {
  background-color: var(--white);
  width: 1440px;
  margin: 0 auto;
}

header {
  display: flex;
  padding: 40px;
  justify-content: space-between;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--cold-morning);
  margin: 0 40px;
}

.gallery {
  padding: 40px;
  height: 1409px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
}

.gallery::before,
.gallery::after,
.gallery::nth-child(2) {
  content: "";
  flex-basis: 100%;
  order: 4;
}

footer {
  display: none;
  position: relative;
  justify-content: space-between;
  padding: 25px 40px;
}

footer::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: var(--cold-morning);
}

footer::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 10%;
  background-color: var(--aged-moustache-grey);
}

.item {
  width: calc(100% / 4 - 29px);
  position: relative;
  cursor: pointer;
  border: 0;
  text-align: left;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.item:nth-child(4n + 1) {
  order: 1;
}

.item:nth-child(4n + 2) {
  order: 2;
}

.item:nth-child(4n + 3) {
  order: 3;
}

.item:nth-child(4n + 4) {
  order: 4;
}

.item::before {
  content: "";
  opacity: 0%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.499872),
    rgba(255, 255, 255, 0.499872)
  );
  transition: opacity 0.2s ease;
}

.item:hover::before {
  opacity: 100%;
}

.description {
  height: 170px;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.0001) 0%,
    rgba(0, 0, 0, 0.841672) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0px 32px 32px 32px;
  position: absolute;
  left: 0;
  bottom: 0;
  h2 {
    color: var(--white);
    margin-bottom: 7px;
  }
  .subhead-2 {
    color: var(--white);
    opacity: 75%;
  }
}

.slide {
  display: none;
  position: relative;
  padding: 100px 40px 140px;

  img.hero-large {
    display: block;
    width: 475px;
    height: auto;
  }

  img.hero-small {
    display: none;
    width: 327px;
    height: auto;
  }

  .slide-description {
    position: absolute;
    top: 100px;
    left: 460px;
    width: 445px;
    background-color: var(--white);
    padding-left: 65px;
    padding-bottom: 67px;
    h1 {
      margin-bottom: 24px;
      line-height: 64px;
    }
    .subhead-1 {
      color: var(--aged-moustache-grey);
    }
  }

  .image {
    position: relative;
  }

  .slide-tail {
    position: absolute;
    top: 100px;
    right: 40px;
    width: 476px;
    background-color: var(--white);

    span {
      margin-top: -40px;
      display: block;
      width: 350px;
      color: var(--aged-moustache-grey);
      margin-bottom: 81px;
    }
  }

  .artist {
    position: absolute;
    bottom: 75px;
    left: 545px;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 2;

  & > div:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  button.button.button-lg {
    display: block;
    color: var(--white);
    margin-bottom: 41px;
    align-self: flex-end;
  }

  button.button.button-lg:hover {
    opacity: 25%;
  }

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }
}

@media (min-width: 795px) and (max-width: 1465px) {
  .container {
    width: 768px;
  }

  .gallery {
    height: 2877px;
    gap: 40px;
  }

  .gallery::before,
  .gallery::after,
  .gallery::nth-child(2) {
    content: none;
  }

  .item {
    width: calc(100% / 2 - 20px);
  }

  .item:nth-child(2n + 1) {
    order: 1;
  }

  .item:nth-child(2n + 2) {
    order: 2;
  }

  .slide {
    height: 1160px;

    .slide-description {
      left: 283px;
    }

    .artist {
      top: 336px;
      left: 558px;
    }

    .slide-tail {
      top: 710px;
      left: 40px;

      span {
        width: 457px;
        margin-left: 100px;
        margin-top: -90px;
        margin-bottom: 40px;
      }
    }
  }

  .modal img {
    width: 670px;
  }
}

@media (max-width: 794px) {
  .container {
    width: 375px;
  }

  .slide {
    padding: 24px;
    height: 1000px;

    .button-view-image-pos {
      left: 16px;
      top: 16px;
      bottom: initial;
    }

    img.hero-large {
      display: none;
    }

    img.hero-small {
      display: block;
    }

    .slide-description {
      top: 254px;
      left: 24px;
      width: 280px;
      padding: 24px;
      h1 {
        font-size: 24px;
        margin-bottom: 8px;
        line-height: 29px;
      }
    }

    .artist {
      top: 358px;
      left: 40px;
      z-index: 1;

      img {
        width: 64px;
        height: auto;
      }
    }

    .slide-tail {
      top: 400px;
      right: initial;
      width: 327px;

      .dp {
        font-size: 100px;
        line-height: 100px;
        margin-left: 89px;
      }

      span {
        margin-top: -25px;
        margin-bottom: 68px;
        width: 329px;
      }
    }
  }

  header {
    padding: 24px;
    img {
      width: 113px;
      height: auto;
    }
    button.button.button-lg {
      font-size: 9px;
    }
  }

  .gallery {
    height: auto;
    gap: 24px;
    padding: 24px;
  }

  .gallery::before,
  .gallery::after,
  .gallery::nth-child(2) {
    content: none;
  }

  .item {
    width: 100%;
  }

  .item:nth-child(n) {
    order: 1;
  }

  footer .buttons button.button {
    width: 16px;
    height: 16px;
    margin-left: 24px;

    &::before {
      width: 16px;
      height: 16px;
      background-size: cover;
    }
  }

  .modal {
    img {
      width: auto;
    }

    .desktop {
      display: none;
    }
    .mobile {
      display: block;
    }
  }
}
